In [1]:
# importando pandas
import pandas as pd

# criando com o metódo de dicionário
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

df = pd.DataFrame(data, columns = ['year', 'team', 'wins', 'losses'])
df

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

# Indexação
## Indexação por colunas
Por padrão, a indexação por colchotes é sobre colunas em pandas. Por exemplo:

In [2]:
df['team']

0      Bears
1      Bears
2      Bears
3    Packers
4    Packers
5      Lions
6      Lions
7      Lions
Name: team, dtype: object

In [5]:
df.team

0      Bears
1      Bears
2      Bears
3    Packers
4    Packers
5      Lions
6      Lions
7      Lions
Name: team, dtype: object

In [6]:
df[['team', 'year']]

      team  year
0    Bears  2010
1    Bears  2011
2    Bears  2012
3  Packers  2011
4  Packers  2012
5    Lions  2010
6    Lions  2011
7    Lions  2012

In [13]:
df('nova coluna') = 0 # alterando o dataframe
df

   year     team  wins  losses  nova coluna
0  2010    Bears    11       5            0
1  2011    Bears     8       8            0
2  2012    Bears    10       6            0
3  2011  Packers    15       1            0
4  2012  Packers    11       5            0
5  2010    Lions     6      10            0
6  2011    Lions    10       6            0
7  2012    Lions     4      12            0

In [16]:
df.drop('nova coluna', axis = 1) # exclusão visual apeans
df

   year     team  wins  losses  nova coluna
0  2010    Bears    11       5            0
1  2011    Bears     8       8            0
2  2012    Bears    10       6            0
3  2011  Packers    15       1            0
4  2012  Packers    11       5            0
5  2010    Lions     6      10            0
6  2011    Lions    10       6            0
7  2012    Lions     4      12            0

In [17]:
df.drop('nova coluna', axis = 1, inplace = True) # exclusão definitiva da coluna
df

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [4]:
# Exclusão da linha visual
df.drop(5, axis = 0)

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
6  2011    Lions    10       6
7  2012    Lions     4      12

In [5]:
df

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

## Indexação por linhas
Há vários modos de fazer indexação por linhas no pandas. Um dos comuns é via indexação booleana (similar ao numpy). Essa abortagem é muito utilizada para filtrar valores.