In [4]:
# importanto pandas
import pandas as pd

# criando uma série
s = pd.Series([7, 'Heisemberg', 3.14, -1789710578, 'Happy Eating!'], name='misturado')
s

0                7
1       Heisemberg
2             3.14
3      -1789710578
4    Happy Eating!
Name: misturado, dtype: object

Opções de Criação

In [3]:
# usando o '?' para help da função
pd.Series?

In [11]:
# alterando o index do array
s = pd.Series([7, 'Heisemberg', 3.14, -1789710578, 'Happy Eating!'], name='misturado',
             index = ['A', 'B', 'I', 'I', 'J'])
s

A                7
B       Heisemberg
I             3.14
I      -1789710578
J    Happy Eating!
Name: misturado, dtype: object

In [17]:
# para alterar o tipo do array dever considera a sequência str > float > int > bool
s = pd.Series([7, 10.5, 3.14, -1789710578, 1], 
             index = ['A', 'B', 'I', 'I', 'J'], dtype = float)
s

A    7.000000e+00
B    1.050000e+01
I    3.140000e+00
I   -1.789711e+09
J    1.000000e+00
dtype: float64

Você pode utilizar indices para selcionar elementos especificos, similar ao numpy.

In [22]:
# utilizando apenas um valor
print(s['I'])
print(s['A'])
print(s[['A', 'B', 'J']])

I    3.140000e+00
I   -1.789711e+09
dtype: float64
7.0
A     7.0
B    10.5
J     1.0
dtype: float64

Operações aritméticas

In [30]:
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([4,3,2,1])

# descomentar para verificar operação entre series indexadas diferentes
# s2 = pd.Series([4,3,2,1], index = [1,2,3,4])

print('s1 =', s1.tolist())
print('s2 =', s2.tolist(), '\n')

print('s1 + s2 = {}\n'.format((s1 + s2).tolist()))
print('s1 - s2 = {}\n'.format((s1 - s2).tolist()))
print('s1 * s2 = {}\n'.format((s1 * s2).tolist()))
print('s1 / s2 = {}\n'.format((s1 / s2).tolist()))
print('s1 % s2 = {}\n'.format((s1 % s2).tolist()))
print('s1 ** s2 = {}\n'.format((s1 ** s2).tolist()))

s1 = [1, 2, 3, 4]
s2 = [4, 3, 2, 1]

s1 + s2 = [nan, 6.0, 6.0, 6.0, nan]

s1 - s2 = [nan, -2.0, 0.0, 2.0, nan]

s1 * s2 = [nan, 8.0, 9.0, 8.0, nan]

s1 / s2 = [nan, 0.5, 1.0, 2.0, nan]

s1 % s2 = [nan, 2.0, 0.0, 0.0, nan]

s1 ** s2 = [1.0, 16.0, 27.0, 16.0, nan]

Operadores Booleanos

In [45]:
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([4,3,2,1])

# descomentar para verificar operação entre series indexadas diferentes
# s2 = pd.Series([4,3,2,1], index = [1,2,3,4])

# s1 ou s2 podem ser escalares assim como no numpy
# descomente a linha abaixo e rode a célula novamente
# s1 = 2
# ou
# s2 = 6

print('s1 = {}'.format(s1))
print('s2 = {}\n'.format(s2))

print('s1 < s2 = {}\n'.format((s1 < s2).tolist()))
print('s1 > s2 = {}\n'.format((s1 > s2).tolist()))
print('s1 == s2 = {}\n'.format((s1 == s2).tolist()))
print('s1 != s2 = {}\n'.format((s1 != s2).tolist()))
print('s1 <= s2 = {}\n'.format((s1 <= s2).tolist()))
print('s1 >= s2 = {}\n'.format((s1 >= s2).tolist()))

s1 = 0    1
1    2
2    3
3    4
dtype: int64
s2 = 0    4
1    3
2    2
3    1
dtype: int64

s1 < s2 = [True, True, False, False]

s1 > s2 = [False, False, True, True]

s1 == s2 = [False, False, False, False]

s1 != s2 = [True, True, True, True]

s1 <= s2 = [True, True, False, False]

s1 >= s2 = [False, False, True, True]

Operações numpy

In [46]:
import numpy as np

print("sum:", s1.sum()) # metodo de soma
print("media:", s1.mean()) # metodo de média
print("Desvio padrão: ", s1.std()) # metodo de desvio padrão
print("np.log: \n", np.log(s1))

sum: 10
media: 2.5
Desvio padrão:  1.2909944487358056
np.log:
 0    0.000000
1    0.693147
2    1.098612
3    1.386294
dtype: float64

In [39]:
s1 = pd.Series(['1', '2', '3', '4'])
s1.sum()

'1234'

In [48]:
# o concatenar não funciona com numpay utilizando o sum
np.sum(np.array(['1','2','3','4']))

TypeError: cannot perform reduce with flexible type

In [51]:
s1 = pd.Series([['1', '2'], ['3', '4']])
s1.sum()

['1', '2', '3', '4']

In [52]:
'1' + '2'

'12'

In [53]:
['1', '2'] + ['3', '4']

['1', '2', '3', '4']

Tratando Valores Faltantes:  
Valores nulos ou faltantes, podem ser tratados com método isnull

In [58]:
s = pd.Series({'Chicago' : 1000, 'New York' : 1300, 'Porland' : 900, 'San Francisco' : 1100,
             'Austin' : 450, 'Boston' : None})
s.isnull() # é nulo

Chicago          False
New York         False
Porland          False
San Francisco    False
Austin           False
Boston            True
dtype: bool

In [60]:
s.dropna() # ignorando valores nuls

# outra maneira
#s[s.notnull()]

Chicago          1000.0
New York         1300.0
Porland           900.0
San Francisco    1100.0
Austin            450.0
dtype: float64

In [59]:
s.notnull() # não null

Chicago           True
New York          True
Porland           True
San Francisco     True
Austin            True
Boston           False
dtype: bool

In [62]:
soma = s.sum() # ignora valores nulos
s

Chicago          1000.0
New York         1300.0
Porland           900.0
San Francisco    1100.0
Austin            450.0
Boston              NaN
dtype: float64

In [63]:
soma == s.dropna().sum()

True

In [64]:
s.dropna().sum()

4750.0

In [65]:
np.sum(s)

4750.0

In [67]:
np.log(s)

Chicago          6.907755
New York         7.170120
Porland          6.802395
San Francisco    7.003065
Austin           6.109248
Boston                NaN
dtype: float64

In [68]:
s.fillna(0) # preenche os valores nulos com o parametro sem altera o nulo

Chicago          1000.0
New York         1300.0
Porland           900.0
San Francisco    1100.0
Austin            450.0
Boston              0.0
dtype: float64

In [69]:
s

Chicago          1000.0
New York         1300.0
Porland           900.0
San Francisco    1100.0
Austin            450.0
Boston              NaN
dtype: float64

In [71]:
s.fillna(0, inplace = True) # agora alterou o registro null

In [72]:
s

Chicago          1000.0
New York         1300.0
Porland           900.0
San Francisco    1100.0
Austin            450.0
Boston              0.0
dtype: float64